body {
  margin: 0;
  background-color: #121c2e;
  font-family: 'Segoe UI', sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  background-color: #1b2a47;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
}
